<section class="home" id="home" *ngFor="let v of home">
  <h3>{{ v.salutation }}</h3>
  <h1>
    Je suis
    <span>Alban Okoby</span>
    <i
      class="fa fa-pencil"
      style="margin-left: 12px"
     (click)="openEditHomeForm(v)"
    ></i>
  </h1>
  <p>
    {{ v.description }}
  </p>
  <p>
    <cite> " {{ v.quote }} <code><\></code>" </cite>
  </p>
  <a href="#apropos"
    ><button class="btnz">A propos ? <i class="fas fa-user"></i></button
  ></a>
</section>


<!-- Button trigger modal -->
<button type="button" class="btnz btn-primary" data-bs-toggle="modal" data-bs-target="#homeModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalLabel" style="font-size: 100%!important;">Présentez vous à l'occasion  </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pe-4">
        <form #homeForm="ngForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Salutation<i class="required">*</i> </label>
            <input type="text" class="form-control" id="recipient-name" 
            formControlName="salutation"
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Votre citation </label>
            <input type="text" class="form-control" id="recipient-name" 
            [value]="oneHome.quote">
            <!-- formControlName="quote" -->
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Description<i class="required">*</i></label>
            <textarea class="form-control" id="message-text" rows="8" 
            [value]="oneHome.description" required></textarea>
            <!-- formControlName="description" -->
          </div>
        </form>
        l
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>