
<div class="sticky-nav">
  <div class="left-part right-part ">
    <img class="bell pointer hover transition hide2" src="assets/images/backward_icon.png" alt="Précédent">
    <img class="bell pointer hover transition hide" src="assets/images/forward_icon.png" alt="Suivant">
    <div class="hero">
      <i class="fa-solid fa-house pointer hide hide3 visible"></i>
    </div>
    <div class="hero hero2">
      <i class="fa-solid fa-magnifying-glass pointer hide3 visible"></i>
    </div>
  </div>
  <div class="right-part">
    <button class="badge pointer hide scale transition">Explorer Premium</button>
    <button class="badge pointer badge2 hover scale transition margin"><i
        class="hide2 fa-regular fa-circle-down"></i> Installer l'Appli</button>
    <div class="bell hover pointer transition margin">
      <i class="fa-regular fa-bell scale"></i>
    </div>
    <div class="user pointer margin">
      <img src="assets/images/profile/me.png" alt="utilisateur" style="border-radius: 50%;">
    </div>
  </div>

</div>
