<app-search-loading></app-search-loading>
<div class="cards-container">
  <div class="card pointer">
  </div>
  <div class="card pointer"> 
    <div class="play">
      <i class="fa-solid fa-play"></i>
    </div>
    <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
    <p class="card-title">Alain Goualo</p>
    <p class="card-info">Artist</p>
  </div>
  <div class="card pointer">
    <div class="play">
      <i class="fa-solid fa-play"></i>
    </div>
    <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
    <p class="card-title">Alain Goualo</p>
    <p class="card-info">Artist</p>
  </div>
  <div class="card pointer">
    <div class="play">
      <i class="fa-solid fa-play"></i>
    </div>
    <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
    <p class="card-title">Alain Goualo</p>
    <p class="card-info">Artist</p>
  </div>
  <div class="card pointer">
    <div class="play">
      <i class="fa-solid fa-play"></i>
    </div>
    <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
    <p class="card-title">Alain Goualo</p>
    <p class="card-info">Artist</p>
  </div>

  <div class="card pointer">
    <div class="play">
      <i class="fa-solid fa-play"></i>
    </div>
    <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
    <p class="card-title">Alain Goualo</p>
    <p class="card-info">Artist</p>
  </div>
  <div class="card pointer">
    <div class="play">
      <i class="fa-solid fa-play"></i>
    </div>
    <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
    <p class="card-title">Alain Goualo</p>
    <p class="card-info">Artist</p>
  </div>
</div>
