<div class="navbar-center">
  <ul>
    <li>
      <a href="index.html" class="active-link"
        ><img src="assets/images/home.png" alt="home" >Home</a
      >
    </li>
    <li>
      <a href="index.html"
        ><img src="assets/images/network.png" alt="My Network" />My
        Network</a
      >
    </li>
    <li>
      <a href="index.html"
        ><img src="assets/images/jobs.png" alt="Jobs" />Jobs</a
      >
    </li>
    <li>
      <a href="index.html"
        ><img src="assets/images/message.png" alt="home" />Messages</a
      >
    </li>
    <li>
      <a href="index.html"
        ><img
          src="assets/images/notification.png"
          alt="home"
        /> <span> Notifications </span> </a
      >
    </li>
  </ul>
</div>
