<section class="education" id="education">
  <h2 class="heading">
      Mon<span> parcours éducatif / professionnel</span>
  </h2>
  <article class="box-container">
     <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span class="year">2018</span>
          <h3> Baccalaureat Scientifique</h3>
          <p>Généralité scientifique (Maths, Physique, Science et technologie) du secondaire</p>
     </div>
     <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span>2019</span>
          <h3> Intégrateur web</h3>
          <p>J'apprends à intégrer des maquettes de sites et d'applications web, auprès des professionnels du milieu.</p>
      </div>
      <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span>2020</span>
          <h3> Intégrateur et Social manager</h3>
          <p>Un peu plus familier avec l'intégration, on me confie davantage de responsabilités (gestion des réseaux sociaux de édition d'articles ) pour des particuliers.</p>
       </div>
      <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span>2021</span>
          <h3> Graduate Licence IT-SN</h3>
          <p>C'est l'année où je valide ma Licence en IT-SN( <b>I</b>nformatique et <b>T</b>echnologie, <b>S</b>cience <b>N</b>umérique ).</p>
      </div>
      <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span>2020-2022</span>
          <h3>Prof de maths de collège</h3>
          <p>En parallèle je donne des cours. Former les apprenants aux mathématiques notamment l'algèbre, l'analyse, la géométrie générale et les statistiques. Section Collège Privé Rose d'Ivoire Guitry.</p>
      </div>
      <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span>Juillet 2021</span>
          <h3> Développeur PHP</h3>
          <p>Mieux installé en conception d'interface et au responsive, je fais du PHP, backend pour la gestion des données côté serveur. Bien entendu il y en a pleins d'autres technologies pouvant le faire, cependant il a faut bien commencer quelque part.</p>
      </div>
      <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span>2021</span>
          <h3> webmaster frontend indépendant </h3>
          <p>En plus du trio HTML + CSS + JS, j'ajoute Bootstrap ou taiwlwind css pour concevoir des templates responsives plus rapidement. (Vous pouvez en voir quelques uns dans mes réalisations plus bas)</p>
      </div>
      <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <span>Août 2021</span>
          <h3> Développeur PHP/Symfony</h3>
          <p>Je me lance dans le développement des applications web moderne, plus costaud, en utilisant des frameworks PHP, notamment Symfony.</p>
      </div>

  </article>
</section>
