<!-- Author : EMMANUEL ALBAN OKOBY  -->

<!-- Sidebar component -->
<app-sidebar></app-sidebar>

<!-- Section d'acceuil -->
  <app-home></app-home>
<!-- End Section d'acceuil -->

<!-- Section  à propos -->
  <app-about></app-about>
<!-- End Section  apeopos -->

<!-- Section  Education -->
  <app-education-experience></app-education-experience>
<!-- End Section Education -->

<!-- Starts Section portfolio -->
  <app-portfolio></app-portfolio>
<!-- End Section portfolio -->

<app-footer></app-footer>
