<!-- Author : EMMANUEL ALBAN OKOBY  -->
<header>
  <div class="utilisateur">
    <a href="assets/image/profile.JPG">
      <img
        src="assets/image/pro.JPG"
        alt="Alban okoby | Emmanuel Alban Okoby | Cerveau+ | Alban photo profil"
      />
    </a>
    <h3 class="nom">Alban Okoby</h3>
    <p>Developpeur Web <br /></p>
    <div class="phones">
      <a href="tel:+2250566596741">225 05 665 967 41</a> <br />
      <a href="tel:+2250767856449">225 07 678 564 49</a>
    </div>
  </div>
  <div class="navbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#apropos">About</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</header>
<li id="toggle-btn" class="fas fa-moon"></li>

<div id="menuIcon" class="fas fa-bars"></div>

<!-- Section d'acceuil -->
  <app-home></app-home>
<!-- End Section d'acceuil -->

<!-- Section  à propos -->
  <app-about></app-about>
<!-- End Section  apeopos -->

<!-- Section  Education -->
  <app-education-experience></app-education-experience>
<!-- End Section Education -->

<!-- Starts Section portfolio -->
  <app-portfolio></app-portfolio>
<!-- End Section portfolio -->

<app-footer></app-footer>
