<p>addhome works!</p>


Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolor rem odit, veniam repellat praesentium inventore nam commodi possimus ipsum quo cum ducimus minus dignissimos optio rerum tenetur vel temporibus! lorem*100

<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" *ngFor="let v of home">
      <form #editForm="ngForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Modifier ma présentation
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Salutation</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              ngModel="v.salutation"
              name="salutation"
              value="{{ v.salutation }}"
            />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label"
              >Présentation</label
            >
            <textarea
              class="form-control"
              id="message-text"
              ngModel="v.description"
              name="description"
              value="{{ v.description }}"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="citation" class="col-form-label">Citation</label>
            <input
              type="text"
              rows="3"
              class="form-control"
              id="citation"
              ngModel="editForm.quote"
              name="quote"
              value="{{ v.quote }}"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success"
            (click)="updateHome(editForm.value)"
            data-bs-dismiss="modal"
          >
            Enregistrer
            <i class="fa-solid fa-check"></i>
            <i class="fa-solid fa-badge-check"></i>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Annuler <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
