<section class="portfolio" id="portfolio">
  <h2 class="heading"> Mes<span> réalisations</span></h2>
  <article class="box-container">
      <a href="assets/image/themeViolet.JPG">
          <div class="box">
              <img src="assets/image/themeViolet.JPG" alt="capture project image">
            <p>Social_01</p>
          </div>
      </a>
      <a href="#">
          <div class="box">
              <img src="assets/image/qrcode/lg.PNG" alt="capture project image">
            <p>Qr Code</p>
          </div>
      </a>
      <a href="#">
          <div class="box">
              <img src="assets/image/chatapp/chatapp.PNG" alt="chat app image">
            <p>Chat App</p>
          </div>
      </a>
      <a href="#">
          <div class="box">
              <img src="assets/image/presentation.jpg" alt="site de presentation image">
            <p>Présenta</p>
          </div>
      </a>
      <a href="https://alban-okoby.github.io/onlineschool/">
          <div class="box">
              <img src="assets/image/onlineschool.jpg" alt="onlineSchool images">
            <p>E-School</p>
          </div>
      </a>
        <a href="https://alban-okoby.github.io/cidabali/">
          <div class="box">
              <img src="assets/image/cidabali.jpg" alt="cidabali image">
            <p>Cidabali</p>
          </div>
      </a>

  </article>
</section>
