<div class="main">

  <div class="side-bar hide2">

    <div class="nav">
      <div class="nav-option transition" style="opacity: 1;">
        <i class="fa-solid fa-house pointer"></i>
        <a class="hide" href="#">Accueil</a>
      </div>
      <div class="nav-option transition hover">
        <i class="fa-solid fa-magnifying-glass pointer"></i>
        <a class="hide" href="#">Recherche</a>
      </div>
    </div>

    <div class="library">
      <div class="option">
        <div class="lib-option nav-option transition hover">
          <img class="pointer" src="assets/images/library_icon.png" alt="icône bibliothèque">
          <a class="hide" href="#">Votre Bibliothèque</a>
        </div>
        <div class="icons">
          <i class="fa-solid fa-plus pointer transition hover"></i>
          <i class="fa-solid fa-arrow-right pointer transition hover hide"></i>
        </div>
      </div>

      <div class="lib-boxes hide">
        <div class="box">
          <p class="box-p1 pointer">Créez votre première playlist</p>
          <p class="box-p2 pointer">C'est facile, nous vous aiderons</p>
          <button class="badge scale transition pointer">Créer une playlist</button>
        </div>

        <div class="box">
          <p class="box-p1 pointer">Trouvons des podcasts à suivre</p>
          <p class="box-p2 pointer">Nous vous tiendrons informé des nouveaux épisodes</p>
          <button class="badge scale transition pointer">Parcourir les podcasts</button>
        </div>
      </div>
    </div>
  </div>



  <div class="main-content">
    <div class="sticky-nav-pro">
      <div class="sticky-nav">
        <div class="left-part right-part ">
          <img class="bell pointer hover transition hide2" src="assets/images/backward_icon.png" alt="Précédent">
          <img class="bell pointer hover transition hide" src="assets/images/forward_icon.png" alt="Suivant">
          <div class="hero">
            <i class="fa-solid fa-house pointer hide hide3 visible"></i>
          </div>
          <div class="hero hero2">
            <i class="fa-solid fa-magnifying-glass pointer hide3 visible"></i>
          </div>
        </div>
        <div class="right-part">
          <button class="badge pointer hide scale transition">Explorer Premium</button>
          <button class="badge pointer badge2 hover scale transition margin"><i
              class="hide2 fa-regular fa-circle-down"></i> Installer l'Appli</button>
          <div class="bell hover pointer transition margin">
            <i class="fa-regular fa-bell scale"></i>
          </div>
          <div class="user pointer margin">
            <img src="assets/images/profile/me.png" alt="utilisateur" style="border-radius: 50%;">
          </div>
        </div>

      </div>

      <div class="sticky-nav-boottom">
        <button class="badge all pointer">Tout</button>
        <button class="badge badge3 transition pointer" [routerLink]="['']"
          [queryParams]="{ page: 'musiques' }">Musique</button>
        <button class="badge badge3 transition pointer">Podcasts</button>
      </div>

    </div>

    <h2 class="card-heading center">Artistes Populaires</h2>
    <div class="cards-container">
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
        <p class="card-title">Alain Goualo</p>
        <p class="card-info">Artist</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
        <p class="card-title">Alain Goualo</p>
        <p class="card-info">Artist</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
        <p class="card-title">Alain Goualo</p>
        <p class="card-info">Artist</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
        <p class="card-title">Alain Goualo</p>
        <p class="card-info">Artist</p>
      </div>

      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
        <p class="card-title">Alain Goualo</p>
        <p class="card-info">Artist</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img image-circle" src="assets/images/recent.png" alt="image de la carte">
        <p class="card-title">Alain Goualo</p>
        <p class="card-info">Artist</p>
      </div>
    </div>

    <h2 class="card-heading">Charts en Vedette</h2>
    <div class="cards-container">
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card5img.jpeg" alt="image de la carte">
        <p class="card-title">Top Chansons - Mondial</p>
        <p class="card-info">Votre mise à jour hebdomadaire des morceaux les plus écoutés...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card6img.jpeg" alt="image de la carte">
        <p class="card-title">Top Chansons - Inde</p>
        <p class="card-info">Votre mise à jour hebdomadaire des morceaux les plus écoutés...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card8img.png" alt="image de la carte">
        <p class="card-title">Hits d'Amour des Années 2000</p>
        <p class="card-info">Tombez amoureux des succès de Bollywood des années 2000 comme jamais auparavant...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card7img.png" alt="image de la carte">
        <p class="card-title">Tous les Succès Hindi des Années 2000</p>
        <p class="card-info">Les chansons de Bollywood qui ont conquis les cœurs dans les années 2000...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/viral50Glob.png" alt="image de la carte">
        <p class="card-title">Viral 50 - Mondial</p>
        <p class="card-info">Votre mise à jour quotidienne des morceaux viraux les plus populaires...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/viral50Ind.png" alt="image de la carte">
        <p class="card-title">Viral 50 - Inde</p>
        <p class="card-info">Votre mise à jour quotidienne des morceaux viraux les plus populaires...</p>
      </div>
    </div>

    <h2 class="card-heading center">Pour Vous Lancer</h2>
    <div class="cards-container">
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/getStart.jpeg" alt="image de la carte">
        <p class="card-title">David Kushner Mik</p>
        <p class="card-info">Chance Pena, Tom Odell et Tom...</p>
      </div>
    </div>

    <h2 class="card-heading">Tendances Actuelles Près de Chez Vous</h2>
    <div class="cards-container">
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card1img.jpeg" alt="image de la carte">
        <p class="card-title">Top 50 - Mondial</p>
        <p class="card-info">Votre mise à jour quotidienne des morceaux les plus écoutés...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/top50Ind.png" alt="image de la carte">
        <p class="card-title">Top 50 - Inde</p>
        <p class="card-info">Votre mise à jour quotidienne des morceaux les plus écoutés...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card2img.jpeg" alt="image de la carte">
        <p class="card-title">Mahiye Jinna Sona</p>
        <p class="card-info">Darshan Raval</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card4img.jpeg" alt="image de la carte">
        <p class="card-title">Naa Ready (De...</p>
        <p class="card-info">Anirudh Ravichander, Thalapathy Vijay, Asal...</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/card3img.jpeg" alt="image de la carte">
        <p class="card-title">Meray Pass Tum H...</p>
        <p class="card-info">Rahat Fateh Ali Khan</p>
      </div>
      <div class="card pointer">
        <div class="play">
          <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="assets/images/bollywood.jpeg" alt="image de la carte">
        <p class="card-title">Bollywood...</p>
        <p class="card-info">Meilleures mélodies acoustiques de...</p>
      </div>
    </div>

    <h2 class="card-heading">Podcasts Originaux Spotify</h2>
    <div class="cards-container">
      <div class="card pointer">
        <img class="card-img" src="assets/images/podcast1.png" alt="image de la carte">
        <p class="card-title">The Ranveer Show</p>
        <p class="card-info">BeerBiceps</p>
      </div>
      <div class="card pointer">
        <img class="card-img" src="assets/images/podcast4.png" alt="image de la carte">
        <p class="card-title">Aa Modati Alajadi...</p>
        <p class="card-info">Spotify Studios</p>
      </div>
      <div class="card pointer">
        <img class="card-img" src="assets/images/podcast2.png" alt="image de la carte">
        <p class="card-title">L'Émission d'Horreur...</p>
        <p class="card-info">Studios TMV</p>
      </div>
      <div class="card pointer">
        <img class="card-img" src="assets/images/podcast3.png" alt="image de la carte">
        <p class="card-title">Histoire Vraie...</p>
        <p class="card-info">Spotify</p>
      </div>
      <div class="card pointer">
        <img class="card-img" src="assets/images/podcast5.png" alt="image de la carte">
        <p class="card-title">Le Podcast de Joe Rogan...</p>
        <p class="card-info">Joe Rogan</p>
      </div>
      <div class="card pointer">
        <img class="card-img" src="assets/images/podcast6.png" alt="image de la carte">
        <p class="card-title">Meilleures Histoires d'Amour</p>
        <p class="card-info">Spotify Studios</p>
      </div>
    </div>

    <!-- Before Logged -->
    <div class="preview">
      <div class="text">
        <h6>Aperçu de Spotify</h6>
        <p> Inscrivez-vous pour obtenir un nombre illimité de chansons et de podcasts avec des publicités occasionnelles. Aucune carte de crédit nécessaire .</p>
      </div>
      <div class="button">
        <button type="button">Sign up free</button>
      </div>
    </div>
  </div>

</div>
