<section class="about" id="apropos">
  <h2 class="heading">
      A propos de<span class="the_span">   moi </span>
  </h2>
  <article class="row">
      <div class="info">
          <h3><span> Nom et Prénom(s) :</span> Alban Emmanuel Okoby </h3>
          <h3><span> Birthday :</span> 17 décembre </h3>
          <h3><span> Qualification :</span> Licence IT-SN</h3>
          <h3><span> Post(s) :</span> Développeur web indépendant, prof de maths de collège</h3>
          <h3><span> Langue :</span> Français, Anglais informatique</h3>
          <a href="#">
              <button class="btnz"> Mon CV
                  <i class="fas fa-download"></i>
              </button>
          </a>
      </div>
      <aside class="counter">

          <div class="box">
              <span>+2</span>
              <h3> années d'expériences</h3>
          </div>
          <div class="box">
              <span>+7</span>
              <h3> projets terminés</h3>
          </div>
          <div class="box">
              <span>+20</span>
              <h3> clients satisfaits</h3>
          </div>
          <div class="box">
              <span>+5</span>
              <h3> formations organisées</h3>
          </div>
          <div class="box">
              <span>+26</span>
              <h3> certifications</h3>
          </div>

      </aside>
  </article>
</section>
