    <!-- Author : EMMANUEL ALBAN OKOBY  -->
    <header>
      <div class="utilisateur">
          <a href="assets/image/profile.JPG">
              <img src="assets/image/pro.JPG" alt="Alban okoby | Emmanuel Alban Okoby | Cerveau+ | Alban photo profil">
          </a>
          <h3 class="nom">Alban Okoby</h3>
          <p>Developpeur Web <br> </p>
          <div class="phones">
              <a href="tel:+2250566596741">225 05 665 967 41</a> <br>
              <a href="tel:+2250767856449">225 07 678 564 49</a>
          </div>
      </div>
      <div class="navbar">
          <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#apropos">About</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#education">Education</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
      </div>
  </header>
  <li id="toggle-btn" class="fas fa-moon"></li>

  <div id="menuIcon" class="fas fa-bars"></div>

  <!-- Section d'acceuil -->
      <section class="home" id="home">
          <h3>Hello world !</h3>
          <h1>Je suis
              <span>Alban Okoby</span>
          </h1>
          <p>Passionné de nouvelles approches scientifiques et numériques. J'ai <strong id="xp-number">2</strong> années d'expériences dans l'enseignement général ainsi que dans le développement IT. Indépendant et auto-didacte, <br> je suis de base diplômé de science informatique et numérique. J'adore la CRAC (Créativité, Réactivité, Adaptabilité et Curiosité) en équipe ou en solo.<br> Si ce n'est que magnifique que dire d'autre ?
          </p>
          <p>
              <cite>
                  " Partager un savoir, un savoir-faire, du savoir-être, encore une ligne de code pour un monde de plus en plus meilleur <code> <\></code> ".
              </cite>
          </p>
                  <a href="#apropos"><button class="btn">A propos ? <i class="fas fa-user"></i></button></a>
      </section>
  <!-- End Section d'acceuil -->

  <!-- Section  à propos -->
   <section class="about" id="apropos">
      <h2 class="heading">
          A propos de<span class="the_span">   moi </span>
      </h2>
      <article class="row">
          <div class="info">
              <h3><span> Nom et Prénom(s) :</span> Alban Emmanuel Okoby </h3>
              <h3><span> Birthday :</span> 17 décembre </h3>
              <h3><span> Qualification :</span> Licence IT-SN</h3>
              <h3><span> Post(s) :</span> Développeur web indépendant, prof de maths de collège</h3>
              <h3><span> Langue :</span> Français, Anglais informatique</h3>
              <a href="#">
                  <button class="btn"> Mon CV
                      <i class="fas fa-download"></i>
                  </button>
              </a>
          </div>
          <aside class="counter">

              <div class="box">
                  <span>+2</span>
                  <h3> années d'expériences</h3>
              </div>
              <div class="box">
                  <span>+7</span>
                  <h3> projets terminés</h3>
              </div>
              <div class="box">
                  <span>+20</span>
                  <h3> clients satisfaits</h3>
              </div>
              <div class="box">
                  <span>+5</span>
                  <h3> formations organisées</h3>
              </div>
              <div class="box">
                  <span>+26</span>
                  <h3> certifications</h3>
              </div>

          </aside>
      </article>
  </section>
  <!-- End Section  a peopos -->

  <!-- Section  Education -->
      <section class="education" id="education">
          <h2 class="heading">
              Mon<span> parcours éducatif / professionnel</span>
          </h2>
          <article class="box-container">
             <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span class="year">2018</span>
                  <h3> Baccalaureat Scientifique</h3>
                  <p>Généralité scientifique (Maths, Physique, Science et technologie) du secondaire</p>
             </div>
             <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span>2019</span>
                  <h3> Intégrateur web</h3>
                  <p>J'apprends à intégrer des maquettes de sites et d'applications web, auprès des professionnels du milieu.</p>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span>2020</span>
                  <h3> Intégrateur et Social manager</h3>
                  <p>Un peu plus familier avec l'intégration, on me confie davantage de responsabilités (gestion des réseaux sociaux de édition d'articles ) pour des particuliers.</p>
               </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span>2021</span>
                  <h3> Graduate Licence IT-SN</h3>
                  <p>C'est l'année où je valide ma Licence en IT-SN( <b>I</b>nformatique et <b>T</b>echnologie, <b>S</b>cience <b>N</b>umérique ).</p>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span>2020-2022</span>
                  <h3>Prof de maths de collège</h3>
                  <p>En parallèle je donne des cours. Former les apprenants aux mathématiques notamment l'algèbre, l'analyse, la géométrie générale et les statistiques. Section Collège Privé Rose d'Ivoire Guitry.</p>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span>Juillet 2021</span>
                  <h3> Développeur PHP</h3>
                  <p>Mieux installé en conception d'interface et au responsive, je fais du PHP, backend pour la gestion des données côté serveur. Bien entendu il y en a pleins d'autres technologies pouvant le faire, cependant il a faut bien commencer quelque part.</p>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span>2021</span>
                  <h3> webmaster frontend indépendant </h3>
                  <p>En plus du trio HTML + CSS + JS, j'ajoute Bootstrap ou taiwlwind css pour concevoir des templates responsives plus rapidement. (Vous pouvez en voir quelques uns dans mes réalisations plus bas)</p>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <span>Août 2021</span>
                  <h3> Développeur PHP/Symfony</h3>
                  <p>Je me lance dans le développement des applications web moderne, plus costaud, en utilisant des frameworks PHP, notamment Symfony.</p>
              </div>

          </article>
      </section>
  <!-- End Section Education -->

  <!-- Starts Section portfolio -->
      <app-portfolio></app-portfolio>
  <!-- End Section portfolio -->

