<div class="side-bar hide2">
  <div class="nav">
    <div class="logo">
      <a href="#">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
      </a>
    </div>
    <div class="nav-option transition" style="opacity: 1;">
      <i class="fa-solid fa-house pointer"></i>
      <a class="hide" routerLink="">Accueil</a>
    </div>
    <div class="nav-option transition hover">
      <i class="fa-solid fa-magnifying-glass pointer"></i>
      <a class="hide" routerLink="search">Recherche</a>
    </div>
  </div>

  <div class="library">
    <div class="option">
      <div class="lib-option nav-option transition hover">
        <img class="pointer" src="assets/images/library_icon.png" alt="icône bibliothèque">
        <a class="hide" href="#">Votre Bibliothèque</a>
      </div>
      <div class="icons">
        <i class="fa-solid fa-plus pointer transition hover"></i>
        <i class="fa-solid fa-arrow-right pointer transition hover hide"></i>
      </div>
    </div>

    <div class="lib-boxes hide">
      <div class="box">
        <p class="box-p1 pointer">Créez votre première playlist</p>
        <p class="box-p2 pointer">C'est facile, nous vous aiderons</p>
        <button class="badge scale transition pointer">Créer une playlist</button>
      </div>

      <div class="box">
        <p class="box-p1 pointer">Trouvons des podcasts à suivre</p>
        <p class="box-p2 pointer">Nous vous tiendrons informé des nouveaux épisodes</p>
        <button class="badge scale transition pointer">Parcourir les podcasts</button>
      </div>
    </div>
  </div>
</div>
